main {
    padding: 32px;

    .main-inner {
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        max-width: 1280px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 16px;
        height: 480px;
        padding: 64px;
        overflow: hidden;
        border-radius: 16px;

        &.mart-banner{
            background: url("../images/camping_banner.png") no-repeat center center / cover;

            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.25);
            }
        }


        

        .inner-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 16px;
            flex: 1;

            

            z-index: 1;

            .banner-title {
                display: flex;
                flex-direction: column;
                gap: 24px;
                width: 100%;
                font-size: 2rem;
                font-weight: 700;
                color: #fff;

                p {
                    font-size: 1rem;
                    font-weight: normal;
                    line-height: 1.5;
                    /* color: #666; */
                }
            }

            .reserve-btn {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 8px;
                margin-right: auto;
                padding: 16px 64px;
                border-radius: 8px;
                background-color: var(--point-bgc);
                color: var(--general-text-color);
                font-size: 1.125rem;
                font-weight: 600;
    
                i{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 1.25rem;
                }
    
                &:hover{
                    /* background-color: var(--point-bgc-hover); */
                    box-shadow: var(--general-box-shadow);
                    transition: background-color 0.3s ease;
                }
            }
        }
    }
}

/* pages */
section {
    padding: 64px 32px;

    &.category-wrap {
        background-color: var(--point-bgc);
    }

    .section-inner {
        max-width: 1280px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 128px;

        h2 {
            display: flex;
            justify-content: center;
        }



        .inner-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 64px;

            

            .category-title {
                display: flex;
                flex-direction: column;
                text-align: center;
                gap: 8px;
                font-size: 1.5rem;
                width: fit-content;
                margin: 0 auto;

                .category-title-en {
                    font-size: 1rem;
                    color: var(--sub-text-color-999);
                    font-weight: 400;
                }
            }
            .content-title {
                display: flex;
                flex-direction: column;
                gap: 8px;
                font-size: 1.5rem;
                width: fit-content;
                margin: 0 auto;

                .category-title-en {
                    font-size: 1rem;
                    color: var(--sub-text-color-999);
                }
            }
        }
    }
}

.category-list {
    display: flex;
    gap: 16px;
    justify-content: center;
    flex-wrap: wrap;


    input[type="radio"] {
        display: none;

        &:checked + label {
            background-color: #C1DCDC;
            color: #ffffff;

            p{
                color: #fff;
            }
        }
    }

    label {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        padding: 16px 32px;
        border: 1px solid #efefef;
        border-radius: 8px;

        cursor: pointer;
        line-height: 1.5;
        text-wrap: nowrap;
        font-size: 1rem;
        color: var(--general-text-color);
        font-weight: bold;
        flex: 1 1 148px;
        margin: 0;
        
        &.comming-soon{
            position: relative;
            color: rgba(0, 0, 0, 0.2);
            border: none;
            pointer-events:none;
            user-select: none;

            &:hover{
                background-color: inherit;
            }

            p{
                color: rgba(0, 0, 0, 0.2);
            }

            &::after{
                content: "coming soon";
                position: absolute;
                border-radius: 8px;
                color: #fff;
                font: 400 1rem/1.5 "Noto Sans KR";
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
                z-index: 1;
                display: flex;
                align-items: center;
                justify-content: center;

            }
        }

        p{
            font-weight: normal;
            font-size: 0.875rem;
            color: var(--sub-text-color-999);
            line-height: 1.5;
            margin: 0 !important;
        }

        &:hover {
            background-color: #f4f4f4;
        }
    }
}

.content-wrap {
    display: none;
    background-color: var(--general-bgc);

    &.category-1 {
        display: block;
    }

    .inner-container {

        .content-description {
            display: flex;
            flex-direction: column;
            gap: 64px;

            li {
                display: flex;
                flex-direction: column;
                gap: 24px;

                .time-info {
                    display: flex;
                    /* flex-direction: column; */
                    gap: 32px;
                }

                span {
                    font-size: 1.25rem;
                    font-weight: 700;

                    + p {
                        line-height: 1.5;
                        font-size: 1.125rem;
                        color: var(--sub-text-color-666);
                    }
                }

                .Precautions {
                    list-style: disc;
                    padding-left: 8px;
                    margin: 0;
                    display: flex;
                    flex-direction: column;
                    gap: 8px;

                    p {

                        font-size: 1.125rem;
                        color: var(--sub-text-color-666);
                        vertical-align: middle;

                        &:before {
                            content: "•";
                            margin-right: 8px;
                        }

                    }
                }
            }

        }

        .content-card {
            display: flex;
            flex-wrap: wrap;
            gap: 32px;

            li {
                width: calc((100% - 32px)/2);
                /* height: 320px; */
                max-height: 320px;
                /* aspect-ratio: 3/2; */
                background-color: #f91;
                border-radius: 16px;
                overflow: hidden;
                box-shadow: var(--general-box-shadow);

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    /* object-position: center 100%; */
                }
            }
        }
    }
}

@media (max-width: 768px) {
    main {
        padding: 16px;

        .main-inner{
            border-radius: 8px;
            padding: 32px;
            height: 320px;

            .inner-container{
                .reserve-btn{
                    width: 100%;
                    font-size: 1rem;
                }
            }
        }
    }
    section {
        padding: 32px 16px;

        .section-inner{
            gap: 32px;

            .inner-container{
                gap: 32px;

                .category-list{
                    gap: 8px;
                }

                .content-card{
                    gap: 16px;
                    
                    li{
                        width: calc((100% - 16px)/2);
                        border-radius: 8px;
                    }
                }
            }
        }
    }
}

