@charset "utf-8";

@font-face {
    font-family: 'Cafe24Oneprettynight';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: light !important;
    }
}

:root{
    --primary-color:#8FBC8F;
    --primary-color-hover: #6B8E6B;
    --general-bgc: #f9f9f9;
    --point-bgc: #fff;
    --general-text-color: #222;
    --sub-text-color-666: #666;
    --sub-text-color-999: #999;
    --general-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    --common-font: 'Montserrat', sans-serif;
    --general-font: 'Noto Sans KR', sans-serif;
    --accent-font: 'Cafe24Oneprettynight', sans-serif;
}



button {
    all: unset;
    pointer-events: auto;
    cursor: pointer;
    box-sizing: border-box;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    &::before, &::after {
        box-sizing: border-box;
    }
}

a {
	text-decoration: none;
	color: inherit;
}
ul, ol {
	list-style: none;
}
img, svg {
    max-width: 100%;
    vertical-align: middle;
    border: none;
}
body, html {
	font-family: /*"Roboto",*/ /*"Open Sans",*/ /*"Noto Sans KR",*/ "Pretendard","Montserrat", sans-serif;
	line-height: inherit;
    scroll-behavior: smooth;

    height: 100%;
    background-color: #f9f9f9;
    color-scheme: light !important;
    forced-color-adjust: none !important;
    -webkit-color-scheme: light !important;

    overflow-y: auto;
    /* height: 100%; */
    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background-color: #f9f9f9;
        border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #C1DCDC;
        border-radius: 4px;

        &:hover {
            background-color: #ccc;
        }
    }
}

@media (max-width: 768px) {
    body, html {
        overflow-y: auto;
        &::-webkit-scrollbar {
            display: none; /* Chrome, Safari, Opera */
        }
    }
}

.wrap {
}
